*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url(2.jpg);
    background-size: cover;

}
.container{
    box-shadow: rgb(0,0,0) 0px 5px 15px;
    width: 400px;
    margin-left: 460px;
    box-shadow:#2ecc71;
margin-top: 36px;
}

.header{
    color: #fff;
    text-align: center;
    background-color: rgb(59, 59, 226);
    padding: 20px 40px;
    border-bottom: 2px solid #494848;
}

.form{
    padding: 30px 40px;
}
.form-group{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-group label{
    font-size: large;
    font-weight: bold;
    color:white;
}

.form-group input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 4px;
    font-size: .8rem;
    width: 100%;
    padding: 10px;
}

.form input::placeholder{
    color: #2a0845;
}

.form-group i{
    position: absolute;
    right: 10px;
    top: 35px;
    visibility: hidden;
}

.form-group span{
    position: relative;
    color: white;
    font-weight: bolder;
    font-style: italic;
}


.form-group.success input{
    border-color: #2ecc71;
}

.form-group.error input{
    border-color: #e74c3c;
}

.form-group.error span{
    color: #e74c3c;
    visibility: visible;
}

.form-group.success i.ion-ios-checkmark{
    visibility: visible;
    color: #2ecc71;
}

.form-group.error i.ion-android-alert{
    visibility: visible;
    color: #e74c3c;
}

button{ 
    background-color: rgb(59, 59, 226);
    color: white;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 120%;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s;
}
button a{
    color: white;
    text-decoration: none;
}

.form #submit:hover{
    background-color: #6441a5;
}

@media only screen and (max-width : 500px){
    .form{
        width: 100%;
    }
    .form-group span{
        font-size: xx-small;
    }
}
